<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="./resource/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/base.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/main.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon.ico">
    <script type="text/javascript" src="./resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="./resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resource/js/vue.min.js"></script>
    <title>设计空间</title>
    <style>
        .us dt {
            color: #303538;
            font-size: 14px;
            background: url(./resource/images/us-sprite.png) -85px -192px no-repeat;
        }

        .us dd,
        .us dt {
            padding-left: 27px;
        }

        .us dd {
            margin-bottom: 28px;
            font-size: 12px;
            color: #60686b;
        }

        .others {
            padding: 10px 40px 50px;
        }

        .others h1 {
            font-size: 16px;
            line-height: 49px;
            color: #363d40;
            margin-bottom: 2.1em;
        }

        .others h1,
        .perface,
        .works-wrap h1 {
            border-bottom: 1px solid #eceff0;
        }
    </style>
</head>

<body>
    <div id="app">


        <header id="header" class="navbar brand-color navbar-inverse fixed-header-layout" role="navigation">
            <div class="container">
                <div class="col-xs-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
                    <div class="navbar-header">
                        <div class="col-md-2" style="width:12.5%;padding-left: 0px;">
                            <a class="" href="">
                                <img class="logo logo-visible v-middle" width="120" src="./resource/images/logo.png" alt="编程logo" title="编程logo">
                            </a>
                        </div>
                        <!-- 头部菜单start -->
                        <div class="col-md-7" id="h_n_min" style="width:67.5%;">
                            <nav class="collapse navbar-collapse f-right" style="float:left;">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a class="color-w link1" href="index.html">首页</a>
                                    </li>

                                    <li>
                                        <a class="color-w" href="showcoulist.html">课程中心</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="lecturer.html">师资力量</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="tuandui.html">项目团队</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="laoshi.html">老师加盟</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="ganyan.html">学员感言</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="shixun.html">实训基地</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="platform.html">就业平台</a>
                                    </li>
                                    <li>
                                        <a class="color-w" href="about.html">关于我们</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- 头部菜单end -->
                        <div class="col-md-4" style="width:20%;padding-right: 0px;">
                            <nav class="collapse navbar-collapse f-right">
                                <ul class="nav navbar-nav" style="margin-right: 0px;">

                                    <li style="margin-right: 0px;">
                                        <a class="color-w" style="color:#666;" v-text="userName" v-if="userName"></a>
                                        <a class="color-w" href="login.html" v-else>登录</a>
                                    </li>
                                    <li style="margin-right: 0px;">
                                        <a class="color-w" href="" style="color:#666;" @click="quit" v-if="userName">注销</a>
                                        <a class="color-w" href="register.html" v-else>注册</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <button courseTypeName="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="top: -52px;">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                </div>
            </div>
        </header>
        <section>
            <div id="float_im" style="height:161px;">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2971611409&amp;site=qq&amp;menu=yes">
                    <div class="qq">
                        <img src="./resource/images/qq.png" title="qq在线客服" alt="qq在线客服">
                        <p>在线客服</p>
                    </div>
                </a>
                <div class="code">
                    <img src="./resource/images/code.jpg" title="设计空间公众号二维码" alt="设计空间微信公众号二维码">
                    <img class="b" src="./resource/images/code.jpg" title="设计空间微信公众号二维码大图" alt="设计空间微信公众号二维码大图">
                </div>
            </div>
        </section>
        <section>
            <div id="shadow1" style="display:none;"></div>
            <div id="ie">
                <h3>作为一名有追求的程序员，还在使用 ie10 以下的浏览器，这不适合吧?</h3>
                <p>去下载世界上最快的浏览器
                    <a target="_blank" href="https://www.baidu.com/s?wd=google%E6%B5%8F%E8%A7%88%E5%99%A8&amp;rsv_spt=1&amp;rsv_iqid=0x81192ebc00005b28&amp;issp=1&amp;f=3&amp;rsv_bp=0&amp;rsv_idx=2&amp;ie=utf-8&amp;tn=baiduhome_pg&amp;rsv_enter=1&amp;rsv_sug3=3&amp;rsv_sug1=3&amp;rsv_sug7=100&amp;rsv_t=b29ex8teL5s0Bb9Kx%2FT2Fpov5mhzbvDsWf2kykKep9Wt4wpIVrTYussgwNTD0JrqVhC5&amp;rsv_sug2=0&amp;prefixsug=goo&amp;rsp=3&amp;inputT=2374&amp;rsv_sug4=2375">谷歌浏览器</a>
                </p>
            </div>
        </section>
        <section>
            <div class="mp-container">
                <div id="alerts"></div>
                <section class="p-layout">
                    <div class="container cl2-layout" id="help">
                        <div class="col-lg-12 col-sm-12 col-xs-12 clearfix">
                            <div id="pjax-container" style="background: #fff; margin: 20px auto; border-radius: 5px;">

                                <div class="us others">
                                    <h1>关于我们</h1>
                                    <dl class="us-list">
                                        <dt>设计空间</dt>
                                        <dd>设计空间培训机构作为专门培养行业精英并向各大设计公司输送优秀设计人才的一个设计工作室，自2009年成立至今长达9年以来，在行业内口碑良好，业绩突出，在理工东南交界扎营，基础牢固，团队齐心协力，发展前景也是一路向阳。</dd>
                                        <dt>培训成果</dt>
                                        <dd>至2017年10月份为止，参与培训学员总量已达2000人，向各大设计公司输送设计人才和设计精英达——（人数）。</dd>
                                        <dt>开设课程</dt>
                                        <dd>已开设课程类别有室内设计、平面设计、影视后期、园林景观、建筑外观、摄影摄像共六门专业，线上开设了“设计空间微课堂”软件视频学习平台，同步更新所有科类课程和线上直播教学。</dd>
                                        <dt>教学目标</dt>
                                        <dd>让所有对设计感兴趣并想向设计专业更深层次学习的学员们，能够享受线下实操和线上巩固的全方位辅导，每一期都会组织学员到各大设计公司及工地进行考察学习，随时随地都能学到新技术、新知识。</dd>
                                        <dt>教学追求</dt>
                                        <dd>除软件教学培训以外，设计空间在节假日会定期举行设计行业交流会和发送员工福利，邀请各大知名企业经理及设计大咖与设计空间优秀学员们进行经验分享和现场招聘。</dd>
                                    </dl>
                                    <h1>我们希望你</h1>
                                    <dl class="us-list">
                                        <dd>1、热衷分享</dd>
                                        <dd>2、有3年以上的行业内专业经验。</dd>
                                        <dd>3、至少精通（ UI设计专业、游戏设计专业、影视特效专业、室内设计专业、数字艺术学历、程序开发专业 ）中的一项</dd>
                                    </dl>
                                    <h1>你的收获</h1>
                                    <dl class="us-list">
                                        <dd>1、额外收入</dd>
                                        <dd>2、技术的沉淀与分享。</dd>
                                        <dd>3、迅速增长的粉丝及业内知名度</dd>
                                        <dd>如果您有好的课程内容且与我们的课程内容相符，您可以电话联系：15842815431 杨老师</dd>
                                    </dl>
                                    <h1>联系地址</h1>
                                    <dl class="us-list">
                                        <dd>
                                            <img class="address" src="./resource/images/address.jpg">
                                        </dd>
                                    </dl>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <footer id="footer" class="footer b-top">
            <div class="copyright">
                <span class="color-light">Copyright © 2018&nbsp;
                    <a href="">长沙融聚文化有限公司</a>&nbsp;版权所有 湘ICP备XXX号.</span>
            </div>
        </footer>
    </div>
    <script>

        (function () {
            var app = new Vue({
                el: '#app',
                data: {
                    restUrl: 'http://www.alaoji.com:8080/lgFace',
                    userName: '',
                },
                methods: {
                    quit: function () {
                        localStorage.clear();
                        location.reload();
                    }
                },
                mounted: function () {
                    this.userName = localStorage.getItem("userName");
                }
            });
        })();
    </script>
</body>

</html>