<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="岳阳映计空间">
    <meta name="description" content="岳阳设计空间">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link href="./resource/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/base.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/main.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/style.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="./resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="./resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resource/js/vue.min.js"></script>

    <title>设计空间</title>
    <style>
        .footer-list {
            overflow: hidden;
        }

        .footer-list li {
            float: left;
            width: 50%;
            /*margin-right: 10px;*/
        }

        .teacher-wrap,
        .top-box {
            width: 100%;
        }

        .teacher-wrap .teacher-list-box {
            position: relative;
            margin: 0 auto 36px;
        }

        .teacher-wrap .teacher-list-box .teacher-item {
            margin: 12px;
            padding: 36px 48px;
            width: 368px;
            height: 570px;
            background: #FFF;
            box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
            border-radius: 8px;
            box-sizing: border-box;
        }

        .l {
            float: left;
        }

        .teacher-wrap .teacher-list-box .teacher-item .teacher-header-img {
            display: block;
            margin: 0 auto 12px;
            width: 96px;
            height: 96px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }

        .teacher-wrap .teacher-list-box .teacher-item .tag-box {
            max-width: 240px;
            margin: 8px auto 16px;
        }

        .teacher-wrap .teacher-list-box .teacher-item .teacher-desc {
            font-size: 14px;
            color: #4D555D;
            line-height: 28px;
            word-break: break-word;
        }

        .teacher-wrap .teacher-list-box .teacher-item .tag-box .tag-item {
            display: block;
            margin: 4px;
            padding: 0 8px;
            height: 24px;
            background: #F3F5F7;
            border-radius: 12px;
            font-size: 12px;
            color: #93999F;
            line-height: 24px;
        }
    </style>


</head>

<body>
    <div id="app">
            <header id="header" class="navbar brand-color navbar-inverse fixed-header-layout" role="navigation">
                    <div class="container">
                        <div class="col-xs-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="navbar-header">
                                <div class="col-md-2" style="width:12.5%;padding-left: 0px;">
                                    <a class="" href="">
                                        <img class="logo logo-visible v-middle" width="120" src="./resource/images/sjkj.png">
                                    </a>
                                </div>
                                <div class="col-md-12 userinfo" style="width:80%;padding-right: 15px;">
                                    <nav class="collapse navbar-collapse f-right">
                                        <ul class="nav navbar-nav" style="margin-right: 0px;">
        
                                            <li style="margin-right: 0px;">
                                                <a class="color-w" style="color:#fff;" v-text="userName" v-if="userName"></a>
                                                <a class="color-w" href="login.html" v-else>登录</a>
                                            </li>
                                            <li style="margin-right: 0px;color:#fff;">
                                                |
                                            </li>
                                            <li style="margin-right: 0px;">
                                                <a class="color-w" href="" style="color:#fff;" @click="quit" v-if="userName">注销</a>
                                                <a class="color-w" href="register.html" v-else>注册</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- 头部菜单start -->
                                <div class="col-md-12" id="h_n_min" style="width:80%;">
                                    <nav class="collapse navbar-collapse f-right" style="float:right;">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a class="color-w link1" href="index.html">首页</a>
                                            </li>
        
                                            <li>
                                                <a class="color-w" href="showcoulist.html">课程中心</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="lecturer.html">师资力量</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="tuandui.html">项目团队</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="laoshi.html">老师加盟</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="ganyan.html">学员感言</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="shixun.html">实训基地</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="platform.html">就业平台</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="about.html">关于我们</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- 头部菜单end -->
        
        
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="top: -52px;">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
        
                            </div>
                        </div>
                    </div>
                </header>

        <div id="float_im" style="height:161px;">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=374314451&amp;site=qq&amp;menu=yes">
                <div class="qq">
                    <img src="./resource/images/qq.png" title="qq在线客服" alt="qq在线客服">
                    <p>在线客服</p>
                </div>
            </a>
            <div class="code">
                <img src="./resource/images/code.jpg" title="设计空间公众号二维码" alt="设计空间微信公众号二维码">
                <img class="b" src="./resource/images/code.jpg" title="设计空间微信公众号二维码大图" alt="设计空间微信公众号二维码大图">
            </div>
        </div>

        <div id="shadow1" style="display:none;"></div>
        <div id="ie">
            <h3>浏览器版本太低。</h3>
            <p>去下载世界上最快的浏览器
                <a target="_blank" href="https://www.baidu.com/s?wd=google%E6%B5%8F%E8%A7%88%E5%99%A8&amp;rsv_spt=1&amp;rsv_iqid=0x81192ebc00005b28&amp;issp=1&amp;f=3&amp;rsv_bp=0&amp;rsv_idx=2&amp;ie=utf-8&amp;tn=baiduhome_pg&amp;rsv_enter=1&amp;rsv_sug3=3&amp;rsv_sug1=3&amp;rsv_sug7=100&amp;rsv_t=b29ex8teL5s0Bb9Kx%2FT2Fpov5mhzbvDsWf2kykKep9Wt4wpIVrTYussgwNTD0JrqVhC5&amp;rsv_sug2=0&amp;prefixsug=goo&amp;rsp=3&amp;inputT=2374&amp;rsv_sug4=2375">谷歌浏览器</a>
            </p>
        </div>

        <div class="mp-container">
            <section class="header-container">
                <div class="container container-hp" id="particles-js">
                    <div id="shadow"></div>
                    <div class="row page-container align-l" style="padding: 3% 0;">
                        <div class="col-xs-12 col-md-12" style="text-align: center;position: relative;z-index: 9999;">
                            <h1 class="h1 mp-h1" style="font-weight: 300;letter-spacing:1px;font-size: 40px;">设计空间精英名师推荐
                            </h1>
                            <fieldset class="tab-panel">

                            </fieldset>
                        </div>
                    </div>
                    <canvas class="particles-js-canvas-el" width="1898" height="437" style="width: 100%; height: 100%;"></canvas>
                </div>
            </section>
            <section class="p-layout">
                <div class="container">
                    <div class="col-lg-12">
                        <h1 class="page-title" style="padding: 20px 0;font-size: 22px;letter-spacing:0.5px;font-weight: 600;"></h1>
                    </div>
                </div>
                <div class="container price-table-container row row-nt" style="padding-bottom: 50px;">
                    <div class="teacher-wrap">
                        <div class="teacher-list-box clearfix js-teacher-list">
                            <div class="teacher-item l" v-for="item in items">
                                <a href="javascript:void(0)" target="_blank" class="teacher-header-img" style="background-image:url('./resource/images/head1.jpg');"></a>
                                <a href="javascript:void(0)" target="_blank" class="teacher-nickname" v-text="item.teacherName"></a>
                                <!-- tag -->
                                <div class="tag-box clearfix">
                                    <span class="tag-item l" v-for="label in item.teacherLabel.split(',')" v-text="label"></span>
                                </div>
                                <div class="teacher-desc" v-text="item.teacherIntroduce"></div>
                            </div>


                        </div>
                        <div class="loading" style="display: none;">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>


                </div>
            </section>

        </div>



        <footer id="footer" class="footer b-top">
            <div class="copyright">
                <span class="color-light">Copyright © 2018&nbsp;
                    <a href="">长沙融聚文化有限公司</a>&nbsp;版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">湘ICP备18007097号-1.</a></span>
            </div>
        </footer>
    </div>
    <script>

        $(function () {
            var app = new Vue({
                el: '#app',
                data: {
                    restUrl: 'http://www.alaoji.com:8080/lgFace',
                    items: [],
                    userName: ''
                },
                methods: {
                    getData: function (callback) {
                        var me = this;
                        $.ajax({
                            type: "get",
                            url: me.restUrl + "/comn/getTeacher",//获取列表数据
                            dataType: "jsonp",
                            async: false,
                            data: {},
                            success: function (data) {
                                me.items = data.teachers;
                            }
                        });
                    },
                    isIE: function () {
                        //判断浏览器
                        var browser = navigator.appName;
                        if (browser == "Microsoft Internet Explorer") {
                            var b_version = navigator.appVersion;
                            var version = b_version.split(";");
                            var trim_Version = version[1].replace(/[ ]/g, "");
                            if (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0" || trim_Version == "MSIE9.0") {
                                document.getElementById('ie').style.display = 'block';
                                document.getElementById('shadow1').style.display = 'block';
                            }
                        }
                    },
                    openWin: function (url, text, winInfo) {
                        var winObj = window.open(url, text, winInfo);
                        var loop = setInterval(function () {
                            if (winObj.closed) {
                                clearInterval(loop);
                                //alert('closed');      
                                parent.location.reload();
                            }
                        }, 1);
                    },
                    quit: function () {
                        localStorage.clear();
                        location.reload();
                    }
                },
                mounted: function () {
                    this.isIE();
                    this.getData();
                    this.userName = localStorage.getItem("userName");

                }
            });
        });

    </script>


</body>

</html>