<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="岳阳映计空间">
    <meta name="description" content="岳阳设计空间">
    <link rel="icon" type="image/png" href="favicon.ico">
    <link href="./resource/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/base.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/main.css" rel="stylesheet" type="text/css">
    <link href="./resource/css/style.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="./resource/js/jquery.min.js"></script>
    <script type="text/javascript" src="./resource/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./resource/js/vue.min.js"></script>

    <title>设计空间</title>
    <style>
        .footer-list {
            overflow: hidden;
        }

        .footer-list li {
            float: left;
            width: 50%;
            /*margin-right: 10px;*/
        }

        .userfeel_list {
            height: auto;
            overflow: hidden;
            background: #fff;
            margin: 0 2px 20px 0;
            padding: 20px;
            border: 1px solid #f1f1f1;
            border-radius: 10px;
        }

        .userfeel_list_con {
            height: auto;
            overflow: hidden;
        }

        .userfeel_list_con_left {
            width: 100%;
            float: left;
            height: auto;
            overflow: hidden;
            text-align: left;
        }
    </style>


</head>

<body>
    <div id="app">
            <header id="header" class="navbar brand-color navbar-inverse fixed-header-layout" role="navigation">
                    <div class="container">
                        <div class="col-xs-12 col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            <div class="navbar-header">
                                <div class="col-md-2" style="width:12.5%;padding-left: 0px;">
                                    <a class="" href="">
                                        <img class="logo logo-visible v-middle" width="120" src="./resource/images/logo.jpg">
                                    </a>
                                </div>
                                <div class="col-md-12 userinfo" style="width:80%;padding-right: 15px;">
                                    <nav class="collapse navbar-collapse f-right">
                                        <ul class="nav navbar-nav" style="margin-right: 0px;">
        
                                            <li style="margin-right: 0px;">
                                                <a class="color-w" style="color:#fff;" v-text="userName" v-if="userName"></a>
                                                <a class="color-w" href="login.html" v-else>登录</a>
                                            </li>
                                            <li style="margin-right: 0px;color:#fff;">
                                                |
                                            </li>
                                            <li style="margin-right: 0px;">
                                                <a class="color-w" href="" style="color:#fff;" @click="quit" v-if="userName">注销</a>
                                                <a class="color-w" href="register.html" v-else>注册</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- 头部菜单start -->
                                <div class="col-md-12" id="h_n_min" style="width:80%;">
                                    <nav class="collapse navbar-collapse f-right animenu" style="float:right;">
                                        <ul class="nav navbar-nav animenu__nav">
                                            <li>
                                                <a class="color-w link1" href="index.html">首页</a>
                                            </li>
        
                                            <li>
                                                <a class="color-w" href="javascript:void(0);">课程中心</a>
                                                <ul class="animenu__nav__child">
                                                    <li v-for="item in majorItems">
                                                        <a :href="'showcoulist.html?titleType=products&menuType='+item.id" v-text="item.comnTypeName"></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="color-w" href="lecturer.html">师资力量</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="tuandui.html">项目团队</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="laoshi.html">老师加盟</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="ganyan.html">学员感言</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="shixun.html">实训基地</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="platform.html">就业平台</a>
                                            </li>
                                            <li>
                                                <a class="color-w" href="about.html">关于我们</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="container-fluid i_top_xl" v-show="showMenu">
                                    <div class="row">
                                        <div class="col-xs-12 xl_01" id="headHtml" style="padding-bottom:15px; border-bottom:1px solid #dddddd;">
                                            <div class="xl_01_01">
                                                <a class="color-w" style="color:#5cb85c;" v-text="userName" v-if="userName"></a>
                                                <a href="login.html" v-else>
                                                    <button type="button" class="btn btn-success">登 录</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="xl_02" style="padding-top:15px; width:120px; float:left;">
                                            <div style="width:120px; text-align:center; margin-left:5px; color:#666666;">
                                                <strong>课程设置</strong>
                                            </div>
        
                                            <div class="xl_menu_li" v-for="item in majorItems">
                                                <a :href="'showcoulist.html?zyType='+item.id">
                                                    <button type="button" class="btn btn-default" v-text="item.comnTypeName"></button>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="xl_02" style="padding-top:15px; width:120px; float:left; margin-left:10px;">
                                            <div style="width:120px; text-align:center; margin-left:5px; color:#666666;">
                                                <strong>快速导航</strong>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="index.html">
                                                    <button type="button" class="btn btn-default">网站首页</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="lecturer.html">
                                                    <button type="button" class="btn btn-default">师资力量</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="tuandui.html">
                                                    <button type="button" class="btn btn-default">项目团队</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="laoshi.html">
                                                    <button type="button" class="btn btn-default">老师加盟</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="ganyan.html">
                                                    <button type="button" class="btn btn-default">学员感言</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="shixun.html">
                                                    <button type="button" class="btn btn-default">实训基地</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="platform.html">
                                                    <button type="button" class="btn btn-default">就业平台</button>
                                                </a>
                                            </div>
                                            <div class="xl_menu_li">
                                                <a href="about.html">
                                                    <button type="button" class="btn btn-default">关于我们</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="i_top_xl_bj" v-show="showMenu" @click="clickShowMenu">&nbsp;</div>
                                <!-- 头部菜单end -->
        
        
                                <div class="i_top_more">
                                    <a href="javascript:void(0);" @click="clickShowMenu" id="headerLogin">
                                        <img src="./resource/images/more_arr01.png" height="24">
                                    </a>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </header>
        <div id="float_im" style="height:161px;">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=374314451&amp;site=qq&amp;menu=yes">
                <div class="qq">
                    <img src="./resource/images/qq.png" title="qq在线客服" alt="qq在线客服">
                    <p>在线客服</p>
                </div>
            </a>
            <div class="code">
                <img src="./resource/images/code.jpg" title="设计空间公众号二维码" alt="设计空间微信公众号二维码">
                <img class="b" src="./resource/images/code.jpg" title="设计空间微信公众号二维码大图" alt="设计空间微信公众号二维码大图">
            </div>
        </div>
        <div id="shadow1" style="display:none;"></div>
        <div id="ie">
            <h3>浏览器版本太低。</h3>
            <p>去下载世界上最快的浏览器
                <a target="_blank" href="https://www.baidu.com/s?wd=google%E6%B5%8F%E8%A7%88%E5%99%A8&amp;rsv_spt=1&amp;rsv_iqid=0x81192ebc00005b28&amp;issp=1&amp;f=3&amp;rsv_bp=0&amp;rsv_idx=2&amp;ie=utf-8&amp;tn=baiduhome_pg&amp;rsv_enter=1&amp;rsv_sug3=3&amp;rsv_sug1=3&amp;rsv_sug7=100&amp;rsv_t=b29ex8teL5s0Bb9Kx%2FT2Fpov5mhzbvDsWf2kykKep9Wt4wpIVrTYussgwNTD0JrqVhC5&amp;rsv_sug2=0&amp;prefixsug=goo&amp;rsp=3&amp;inputT=2374&amp;rsv_sug4=2375">谷歌浏览器</a>
            </p>
        </div>

        <div class="mp-container">
            <section class="header-container">
                <div class="container container-hp" id="particles-js">
                    <div id="shadow"></div>
                    <div class="row page-container align-l" style="padding: 3% 0;">
                        <div class="col-xs-12 col-md-12" style="text-align: center;position: relative;z-index: 9999;">
                            <h1 class="h1 mp-h1" style="font-weight: 300;letter-spacing:1px;font-size: 40px;">设计空间项目团队
                            </h1>
                            <fieldset class="tab-panel">

                            </fieldset>
                        </div>
                    </div>
                    <canvas class="particles-js-canvas-el" width="1898" height="437" style="width: 100%; height: 100%;"></canvas>
                </div>
            </section>
            <section class="p-layout">
                <div class="container">
                    <div class="col-lg-12">
                        <h1 class="page-title" style="padding: 20px 0;font-size: 22px;letter-spacing:0.5px;font-weight: 600;"></h1>
                    </div>
                </div>
                <div class="container price-table-container row row-nt" style="padding-bottom: 50px;">
                    <div class="userfeel_list" id="u87373">
                        <div class="userfeel_list_con">
                            <div class="userfeel_list_con_left">
                                <img src="./resource/images/ganyan.png" width="100%">
                            </div>
                        </div>
                    </div>


                </div>
            </section>

        </div>



        <div class="footer_bottom">
            <div class="bottom_kuan container">
                <div class="bottom_left col-xs-12 col-md-8">
                    <ul>
                        <li>咨询热线
                            <dl>
                                <dd>
                                    <h3>15842815431</h3>
                                </dd>
                            </dl>
                        </li>
                        <li>如何帮到您
                            <dl>
                                <dd>
                                    <a href="showcoulist.html" target="_blank">设计培训</a>
                                </dd>
                                <dd>
                                    <a href="shixun.html" target="_blank">实训基地</a>
                                </dd>
                                <dd>
                                    <a href="laoshi.html" target="_blank">人才招聘</a>
                                </dd>
                                <dd>
                                    <a href="platform.html" target="_blank">就业平台</a>
                                </dd>
                                <dd>
                                    <a href="about.html" target="_blank">关于我们</a>
                                </dd>
                            </dl>
                        </li>
                        <li>微信扫码咨询
                            <dl>
                                <dd>
                                    <img src="./resource/images/code.jpg" width="100" height="100">
                                </dd>

                            </dl>
                        </li>
                        <li>QQ:374314451

                        </li>
                        <li style="display:none;">相关下载
                            <dl>
                                <dd>
                                    <a target="_blank" href="">播放器插件下载</a>
                                </dd>
                            </dl>
                        </li>

                    </ul>
                </div>
                <div class="bottom_right col-xs-12 col-md-4">
                    <img src="./resource/images/sjkj.png" width="200" height="200" style="margin-top:16px;">
                </div>
            </div>
        </div>
        <!--底部版权start-->
        <footer id="footer" class="footer">
                <div class="copyright">
                    <div class="container">
                        <span class="shareTo">
                            <div class="">分享到：</div>
                            <div @click="shareTo('qzone')">
                                <a href="javascript:void(0);">
                                    <img src="./resource/images/sp_qzone.png" width="30">
                                </a>
                            </div>
                            <div @click="shareTo('qq')">
                                <a href="javascript:void(0);">
                                    <img src="./resource/images/sp_qq.png" width="32">
                                </a>
                            </div>
                            <div @click="shareTo('sina')">
                                <a href="javascript:void(0);">
                                    <img src="./resource/images/sp_wb.png" width="36">
                                </a>
                            </div>
                            <div>
                                <a href="mailto:374314451@qq.com">
                                    <img src="./resource/images/sp_email.png" width="36">
                                </a>
                            </div>
    
                        </span>
                        <span class="color-999933" style="float: left;">Copyright © 2018&nbsp;映像空间&nbsp;www.yysjkj.cn&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="">湖南慧文科技有限公司</a>&nbsp;版权所有
                            <a href="http://www.miitbeian.gov.cn" target="_blank">湘ICP备18007097号-1.</a>
                        </span>
                    </div>
    
                </div>
            </footer>
        <!--底部版权end-->
    </div>
    <script>

        $(function () {
            var app = new Vue({
                el: '#app',
                data: {
                    restUrl: 'http://39.106.11.92:8080/lgFace',
                    showMenu: false,
                    items: [],
                    majorItems:[],//专业
                    userName: ''
                },
                methods: {
                    clickShowMenu: function () {
                        this.showMenu = !this.showMenu;
                    },
                    getmajorItems: function () {
                        var me = this;
                        $.ajax({
                            type: "get",
                            url: me.restUrl + "/couser/getXYType",//获取列表数据
                            dataType: "jsonp",
                            async: false,
                            data: {},
                            success: function (data) {
                                me.majorItems = data.comns;
                            }
                        });
                    },
                    getData: function (callback) {
                        var me = this;
                        $.ajax({
                            type: "get",
                            url: me.restUrl + "/comn/getTeacher",//获取列表数据
                            dataType: "jsonp",
                            async: false,
                            data: {},
                            success: function (data) {
                                me.items = data.teachers;
                            }
                        });
                    },
                    isIE: function () {
                        //判断浏览器
                        var browser = navigator.appName;
                        if (browser == "Microsoft Internet Explorer") {
                            var b_version = navigator.appVersion;
                            var version = b_version.split(";");
                            var trim_Version = version[1].replace(/[ ]/g, "");
                            if (trim_Version == "MSIE6.0" || trim_Version == "MSIE7.0" || trim_Version == "MSIE8.0" || trim_Version == "MSIE9.0") {
                                document.getElementById('ie').style.display = 'block';
                                document.getElementById('shadow1').style.display = 'block';
                            }
                        }
                    },
                    openWin: function (url, text, winInfo) {
                        var winObj = window.open(url, text, winInfo);
                        var loop = setInterval(function () {
                            if (winObj.closed) {
                                clearInterval(loop);
                                //alert('closed');      
                                parent.location.reload();
                            }
                        }, 1);
                    },
                    quit: function () {
                        localStorage.clear();
                        location.reload();
                    },
                    initCode: function () {
                        var code = document.getElementsByClassName('code');
                        if (code && code.length > 0) {
                            for (var a = 0; a < code.length; a++) {
                                code[a].onmouseover = function () {
                                    var b = this.getElementsByClassName('b');
                                    b[0].style.display = "block ";
                                }
                                code[a].onmouseout = function () {
                                    var b = this.getElementsByClassName('b');
                                    b[0].style.display = "none ";
                                }
                            }
                        }
                    },
                    shareTo: function (stype) {
                        var ftit = '映像空间';
                        var flink = '';
                        var lk = '';
                        //获取文章标题
                        // ftit = $('.pctitle').text();
                        //获取网页中内容的第一张图片
                        // flink = $('.pcdetails img').eq(0).attr('src');
                        // if (typeof flink == 'undefined') {
                        //     flink = '';
                        // }
                        //当内容中没有图片时，设置分享图片为网站logo
                        if (flink == '') {
                            lk = 'http://' + window.location.host + '/resource/images/logo.jpg';
                        }
                        //qq空间接口的传参
                        if (stype == 'qzone') {
                            window.open('https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + document.location.href + '?sharesource=qzone&title=' + ftit + '&pics=' + lk + '&summary=' + document.querySelector('meta[name="description"]').getAttribute('content'));
                        }
                        //新浪微博接口的传参
                        if (stype == 'sina') {
                            window.open('http://service.weibo.com/share/share.php?url=' + document.location.href + '?sharesource=weibo&title=' + ftit + '&pic=' + lk + '&appkey=2706825840');
                        }
                        //qq好友接口的传参
                        if (stype == 'qq') {
                            window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + document.location.href + '?sharesource=qzone&title=' + ftit + '&pics=' + lk + '&summary=' + document.querySelector('meta[name="description"]').getAttribute('content') + '&desc=映像空间，一个平面设计学习的网站');
                        }
                        //生成二维码给微信扫描分享
                        if (stype == 'wechat') {
                            window.open('inc/qrcode_img.php?url=http://zixuephp.net/article-1.html');
                        }
                    }
                },
                mounted: function () {
                    this.isIE();
                    this.initCode();
                    this.getmajorItems();
                    this.getData();
                    this.userName = localStorage.getItem("userName");

                }
            });
        });

    </script>


</body>

</html>